<ion-content class="fondo">

  <!-- HEADER SUPERIOR -->
  <div class="header">
    <div class="titulo">Notificaciones</div>
    <ion-icon name="person-circle-outline" class="perfil"></ion-icon>
  </div>

  <!-- LISTA DE NOTIFICACIONES -->
  <div class="lista">

    <div class="noti ayuda">
      <div class="tipo">Ayuda</div>
      <div class="descripcion">Necesito ayuda con algo.</div>
    </div>

    <div class="noti emergencia">
      <div class="tipo rojo">Emergencia</div>
      <div class="descripcion">¡Papá se ha caído!</div>
    </div>

    <div class="noti ayuda">
      <div class="tipo">Ayuda</div>
      <div class="descripcion">Necesito ayuda con algo.</div>
    </div>

    <div class="fecha">26/10/2025</div>

    <div class="noti ayuda">
      <div class="tipo">Ayuda</div>
      <div class="descripcion">Necesito ayuda con algo.</div>
    </div>

    <div class="noti emergencia">
      <div class="tipo rojo">Emergencia</div>
      <div class="descripcion">¡Papá se ha caído!</div>
    </div>

    <div class="noti ayuda">
      <div class="tipo">Ayuda</div>
      <div class="descripcion">Necesito ayuda con algo.</div>
    </div>
    

  </div>

</ion-content>

<!-- Barra de navegación inferior -->
<app-nav-bar></app-nav-bar>
