.fondo {
  --background: #DEEFE7;
}

.header {
  width: 100%;
  background-color: #002333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
}

.header-logo {
  max-width: 240px;
  width: 45%;
  height: auto;
  object-fit: contain;
}

.container {
  width: 90%;
  max-width: 330px;
  margin: 0 auto;
  padding-top: 20px;
}

.titulo {
  text-align: center;
  color: #159A9C;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 25px;
}

.label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  margin-left: 4px;
  color: #000000;
}

.input {
  margin-bottom: 18px;
  height: 42px;
  --color: #000000;
  --background: #FFFFFF;
  --placeholder-color: #6b7680;
  --border-color: #B4BEC9;
  --border-color-focused: #159A9C;
  --highlight-color-focused: #159A9C;
  --highlight-color: #159A9C;
}

.btn {
  --background: #159A9C;
  --background-hover: #0A8B8A;
  border-radius: 8px;
  margin-top: 10px;
}

.texto {
  text-align: center;
  margin-top: 16px;
  color: #000000;
}

.link {
  color: #159A9C;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header {
    padding: 32px 0;
  }
  .header-logo {
    max-width: 320px;
    width: 40%;
  }
}
